src/conf/xml-resources/web-service-references/StockPrice/wsdl/localhost_51846/StockPrice.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://grimlock257.github.io/Stocks" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://grimlock257.github.io/Stocks" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://grimlock257.github.io/Stocks">
      <s:element name="GetSharePrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSharePriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSharePriceResult" type="tns:StockPriceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StockPriceResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StockPrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="StockCurrency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StockPriceTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSharePriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetSharePrice" />
  </wsdl:message>
  <wsdl:message name="GetSharePriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetSharePriceResponse" />
  </wsdl:message>
  <wsdl:portType name="StockPriceSoap">
    <wsdl:operation name="GetSharePrice">
      <wsdl:input message="tns:GetSharePriceSoapIn" />
      <wsdl:output message="tns:GetSharePriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockPriceSoap" type="tns:StockPriceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSharePrice">
      <soap:operation soapAction="http://grimlock257.github.io/Stocks/GetSharePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockPriceSoap12" type="tns:StockPriceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSharePrice">
      <soap12:operation soapAction="http://grimlock257.github.io/Stocks/GetSharePrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockPrice">
    <wsdl:port name="StockPriceSoap" binding="tns:StockPriceSoap">
      <soap:address location="http://localhost:51846/StockPrice.asmx" />
    </wsdl:port>
    <wsdl:port name="StockPriceSoap12" binding="tns:StockPriceSoap12">
      <soap12:address location="http://localhost:51846/StockPrice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>